@page
@model WebApp.Pages.RatingDemoInvokeAsyncModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>starsdemo1</title>
</head>
<body>
    <h1>RatingDemoInvokeAsync</h1>
    @await Component.InvokeAsync("RatingControl",
        new {
            ratingControlType = "1to10"
        })
</body>
</html>
